
.page{
}

.personal-img {
	padding-top: 30px;
	padding-bottom: 20px;
}
.personal-img img {
	width: 93px;
	height: 93px;
	border-radius: 100%;
	display: block;
	margin: 0 auto;
}

.peisonal-data-ele {
	width:84%;
	margin:0 auto;
	padding: 10px 0;
	border-bottom: 1px solid #ff6550;
	margin-bottom: 6px;
}
.peisonal-data-ele label {
	width: 26%;
	display: inline-block;
}

.peisonal-data-ele input,.peisonal-data-ele select{
	width: 70%;
	border:  none;
	font-size: 16px;
}
button.verify-btn {
	width: 76px;
	padding:0;
	margin-bottom: 0;
	font-size: 12px;
	height: 26px;
	line-height: 26px;
	display: inline;
	margin-left: -76px;
}

.hidden {
	display: none;
}

button.peisonal-submit {
	width:50%;
	margin:0 auto;
	margin-top:30px;
	letter-spacing: 14px;
	font-size: 24px;
	border-radius: 10px;
	padding-left: 14px;
}