<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>确认订单</title>
    <link rel="stylesheet" href="__PUBLIC__/static/mobile/css/module/page_init.css">
    <link rel="stylesheet" href="__PUBLIC__/static/mobile/css/submit_order.css">
    <link rel="stylesheet" href="__PUBLIC__/static/mobile/css/luckyCenter.css">
    <style>
        .nothing{
        	margin:0;
        	font-weight:normal;
        	font-size:.8em;
        	color:#ff6550;
        	text-align:center;
        	line-height:80px;
        	opacity: .8;
        }
        .up_to {
        	background: #fff;
        	text-align: center;
        	line-height: 1.6;
        	font-size: 14px;
        }
        .up_to span {
        	color: red;
        	line-height: 1.6;
        }
    </style>
	<style>
		.click-choice {
			border-top: 2px solid rgba(0, 0, 0, .1);
		}
		.click-choice-text {
			font-size: 14px;
			color: #ADABAB;
		}
		.detail-title div,.detail-body div {
			width: 50%;
			float: left;
		}
        .detail-body p {
        	padding-left: 20px!important;
			max-width: 65%;
			float: left;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
		#total-price {
			border-top: 2px solid #E6E6E6;
			background: white;

			text-align: right;
			padding: 2px 20px;
		}
		#total-price span:nth-child(1) {
			font-size: 14px;
		}
		#total-price span:nth-child(2) {
			color: #FF9898;
			font-size: 12px;
		}
	</style>
</head>
<body>
<div class="page">
    <div class="win-main">
    	<div class="window-alert">
    	    <div class="alert-wrap">
    	    	<div class="lucky-code">
    	    		<h3><span style="width:32%;">红包兑换</span><input class="get_code" style="width:40%;" type="text" placeholder="输入兑换码"><button style="font-size:.7em" class="use-code">兑换并使用</button></h3>
    	    		<div class="lucky-lists">
    	    			<div id="lucky-wrap">
    	    				<div class="worn-info"></div>
    	    			    <div id="append-data"></div>
    	    			</div>
    	    		</div>
    	    	</div>
    	    </div>
    	</div>
    </div>
    <form method="post" action="<?php echo U('mobile/order/pay');?>">
		<header class="main-header">
			<div class="headline">
				<div class="headline-body">
					<p>确认订单</p>
				</div>
			</div>
			<div class="go-back">
				<a href="<?php echo U('mobile/index/index');?>"><img src="__PUBLIC__/static/mobile/image/go_back.png" alt=""></a>
			</div>
			<div class="main-memu">
   				<div class="memu-icon">
   					<span></span>
   					<span></span>
   					<span></span>
   				</div>
    	        <include file="Public/menu" />
			</div>
		</header>
		<section class="main-section">
			<article class="user-msg">
				<div class="up_to"></div>
				<header class="user-msg-title">
					<ul>
						<li><p>用户信息</p></li>
					</ul>
				</header>
				<section class="user-msg-body">
					<a href="<?php echo U('mobile/position/index');?>">
						<div class="user-msg-img">
							<img src="__PUBLIC__/static/mobile/image/address.png" alt="">
						</div>
						<div class="user-msg-data">
							<h3><?php echo $list['user']['name'];?></h3>
							<p><?php echo $list['user']['mobile'];?></p>
							<p><?php echo $list['user']['school'] . '<br>' . $list['user']['school_ext'] . ' ' . $list['user']['school_building'] . ' ' . $list['user']['dormitory'];?></p>
						</div>
						<div class="arrows"></div>
					</a>
				</section>
			</article>
			<article class="order-date">
				<header class="order-date-title">
					<ul>
						<li><p></p></li>
						<li>
							<p>配送日期</p>
						</li>
						<li>
							<p>配送时间</p>
						</li>
					</ul>
				</header>
				<section class="order-date-body">
					<div>
						<h3 name="type" value="<?php echo $list['type'];?>"><?php if($list['type'] == 1) echo '早餐';if($list['type'] == 2) echo '午餐';if($list['type'] 	== 3) echo '晚餐';?></h3>
					</div>
					<div>
						<select name="order_date" id="date-value">
				            <?php
				                if ($list['type'] == 2 && $list['lunch_order_end'] + strtotime(date('Y-m-d')) < time()) {
				                    echo '<option value="' . strtotime(date("Y-m-d", strtotime("+1 day"))) . '">明天</option>';
				                    echo '<option value="' . strtotime(date("Y-m-d", strtotime("+2 day"))) . '">后天</option>';
				                    echo '<option value="' . strtotime(date("Y-m-d", strtotime("+3 day"))) . '">大后天</option>';
				                } elseif ($list['type'] == 3 && $list['dinner_order_end'] + strtotime(date('Y-m-d')) < time()) {
				                    echo '<option value="' . strtotime(date("Y-m-d", strtotime("+1 day"))) . '">明天</option>';
				                    echo '<option value="' . strtotime(date("Y-m-d", strtotime("+2 day"))) . '">后天</option>';
				                    echo '<option value="' . strtotime(date("Y-m-d", strtotime("+3 day"))) . '">大后天</option>';
				                } else {
				                    echo '<option value="' . strtotime(date('Y-m-d')) . '">今天</option>';
				                    echo '<option value="' . strtotime(date("Y-m-d", strtotime("+1 day"))) . '">明天</option>';
				                    echo '<option value="' . strtotime(date("Y-m-d", strtotime("+2 day"))) . '">后天</option>';
				                }
				            ?>
						</select>
						<span>▼</span>
					</div>
					<div>
				        <p><?php echo $list['show_deliver_time'];?></p>
					</div>
				</section>
			</article>
            <article class="click-choice">
                <h3><span style="text-indent:10px">红包</span><i></i><span class="click-choice-text">选择红包金额</span></h3>
            </article>
            <article class="detail">
				<header class="detail-title">
					<div>
						<p>已选菜品</p >
					</div>
					<span>打包费</span>
					<span style="width:30%;">金额(打包费)</span>
				</header>
				<section class="detail-body">
					<ul>
                        <?php
                        foreach ($list['dish'] as $dish_key => $dish_value){
                            echo '<li>';
                            echo '<div><p>' . $dish_value['name'] . '</p><span>*' . $dish_value['num'] . '</span></div>';
                            echo '<span>￥' . $dish_value['money_pack'] * $dish_value['num'] / 100 . '</span>';
                            echo '<span>￥' . ($dish_value['money'] + $dish_value['money_pack']) * $dish_value['num'] / 100 . '(' . $dish_value['money_pack'] * $dish_value['num'] / 100 . ')' . '</span>';
                            echo '</li>';
                        }
                        ?>
                        <li style="border-top:1px solid #E6E6E6">
                            <div style="width:70%">
                                <p>配送费 * 1</p>
                            </div>
                            <span>￥<?php echo $list['money_delivery'] / 100;?></span>
                        </li>
					</ul>
				</section>
				<section id="total-price">
					<span>合计：</span>
					<span id="total-price-text">￥<?php echo $list['money_total'] / 100;?></span>
				</section>
			</article>

			<article class="remark">
				<header class="remark-title">
					<p>留言备注</p>
				</header>
				<section class="remark-body">
					<textarea name="word" rows="2" class="in-text" placeholder="选填，填写备注"></textarea>
				</section>
			</article>
		</section>
		<footer class="main-footer">
			<p>版权归：必点所有</p>
		</footer>
		<div class="order-submit-box"></div>
		<div id="order-submit" class="order-submit">
			<div class="order-submit-num">
				<p>共<span>1</span>份</p>
			</div>
			<div class="order-submit-money">
				<p>总计<span>￥</span><span id="total_price" data-price="<?php echo $list['money_total'];?>"><?php echo $list['money_total'] / 100;?></span></p>
			</div>
			<div class="order-submit-btn">
				<input id="vae" type="hidden" value="" name="bonus" />
		        <input name="data" type="hidden" value="<?php echo $list['data'];?>" />
		    	<button type="submit" id="submit" class="gw-btn">立即付款</button>
			</div>
		</div>
	</form>
	<input type="hidden" value="" id="data-price">
</div>
<script type="text/javascript" src="__PUBLIC__/static/mobile/js/lib/zepto.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/mobile/js/lib/zepto.touch.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/mobile/js/module/pageScoll.js"></script>
<script src="__PUBLIC__/static/mobile/js/module/init.js"></script>
<script src=""></script>
<script type="text/javascript" src="__PUBLIC__/static/mobile/js/luckyCenter.js?5"></script>
<script>

 var stringDate = [ "" , "明天" , "后天" , "大后天" ];

/* 红包选择触发器 start */
	$(document).ready(function (){


		/***********/
		(function(){
			var url = location.href;
			var upToTime = url.match( /(\(\()(\S+)(\)\))/ )[2];
			var result = '';

			var nowTime = new Date(),
				date = parseInt( Date.parse( nowTime.toString().slice( 0, 15 ) )/1000 );
			
			

			upToTime = '[{' + upToTime + '}]';
			upToTime =  eval( upToTime )[0];

			// console.log( upToTime );
			
			
			result = '现在支付预计<span>'+ upToTime.data +'</span>送达';
			result += upToTime.address == 1?'寝室':'楼下' ;
			$(".up_to").html( result );

			countDate();

			$("#date-value").change(countDate);

			$('#submit').click(function(){

				var ctDate =  parseInt( $("#date-value").val() );

				if( date != ctDate ){
					var r = confirm( "您购买的不是今天的"
									+ $(".order-date-body h3").html()
									+ "，是否确认购买？" );
					if(!r)
						return false;
				}
				// alert($(".go-back a").attr("href"));
				return true;
			});

			//计算现在提交是今天、明天、后天、大后天
			function countDate(){
				var selectDate =  parseInt( $("#date-value").val() ) ;

				var t = ( selectDate - date ) / 86400;
				
				upToTime.data = upToTime.data.slice( -5 ) 

				result = stringDate[ t ] + upToTime.data ;
				$(".up_to span").html( result );
			}

			//把时间戳计算成时间，每天 8 点为基准,返回时间格式 12:11
			function countTimestamp( time, start ){
				// 每天 8 点为基准 所以加 8
				var hour = parseInt( time / 3600 ) + start,
					minute = parseInt( time % 3600 / 60 );
				var sHour = hour > 9 ? hour : '0' + hour,
					sMinute = minute > 9 ? minute : '0' + minute;

				return sHour + ':' + sMinute;
			}

		}());



		/***********/


		pageScoll( $(".alert-wrap")[0], 4 );

		$(".click-choice").click(function(e){
	        $(".window-alert").css({
	        	"display":"block",
	        	// "visibility":"visible",
	        	"height":$(window).height(),
	        	"margin-top":$(window).height()/-2
	        });


			e.stopPropagation();
		});
		$(".click-choice").tap(function(e){
			e.stopPropagation();
		});
		$(".alert-wrap").tap( function(e){
			/*同步两处总金额 by 黑白 start*/
			setTimeout(function () {
				$("#total-price-text").html($('#total_price').html())
			},500)
				
			/*同步两处总金额 by 黑白 end*/
			
			e.stopPropagation();
		} );
		$(document).tap(function(e){
			$(".window-alert").hide();
		});
	});
/* 红包选择触发器 end */


</script>
</body>
</html>
