<script>
    window.url=eval(<?php echo json_encode($url);?>);
    window.province=eval(<?php echo json_encode($province);?>);
    window.school=eval(<?php echo json_encode($school);?>);
    window.school_ext=eval(<?php echo json_encode($school_ext);?>);
    window.canteen=eval(<?php echo json_encode($canteen);?>);
    window.port=eval(<?php echo json_encode($port);?>);
    window.date=eval(<?php echo json_encode($date);?>);
</script>
<html >
<head>
    <title>档口数据</title>
    <script src="__PUBLIC__/library/js/jquery-2.2.1.min.js" ></script>
    <script src="__PUBLIC__/library/js/angular.min.js"></script>
    <script src="__PUBLIC__/admin/statistic/js/port.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/library/css/bootstrap.css"/>
</head>
<body>
<ol class="breadcrumb">
  <li><a href="#">数据统计</a></li>
  <li class="active">档口数据</li>
</ol>
<div ng-app="myApp" ng-controller="myCtrl">
    <div >
        <table class="table table-striped" >
            <tr><th>省份</th><th>学校</th><th>校区</th><th>食堂</th><th>档口</th></tr>
            <tr>
                <td><select class="form-control" ng-model="select_province"ng-options="x.name for x in province"></select></td>
                <td><select class="form-control" ng-model="select_school"ng-options="x.name for x in school |filter:{province:select_province['id']}:true"></select></td>
                <td><select class="form-control" ng-model="select_school_ext"ng-options="x.name for x in school_ext |filter:{school:select_school['id']}:true"></select></td>
                <td><select class="form-control" ng-model="select_canteen"ng-options="x.name for x in canteen |filter:{school_ext:select_school_ext['id']}:true"></select></td>
                <td><select class="form-control" ng-model="select_port" ng-change="search()"ng-options="x.name for x in port|filter:{canteen:select_canteen['id']}:true"></select></td>
            </tr>
            <tr><th>开始时间</th><th>结束时间</th><th colspan="2"></th><td rowspan="2">此查询以出单时间为准，非下单时间。已支付未出单的未计算在内</td></tr>
            <tr>
                <td><input type='date'ng-model='date_start' id="date_s"class="form-control"/></td>
                <td><input type='date'ng-model='date_end' id="date_e"class="form-control"/></td>
                <td colspan="2"><button class="btn btn-info form-control " id="search"ng-click="search()">查询</button></td>
            </tr>
        </table>
    </div>
    <div>
        <table class="table table-striped">
            <tr><th colspan="4" class="text-center">档口数据统计</th></tr>
            <tr class="info"><th>该日期内总金额</th><th>{{total/100}}元</th><th>该日期内总份数</th><th>{{num}}</th></tr>
            <tr><th>日期</th><th>饭菜份数</th><th>交易额</th><th></th></tr>
            <tr ng-repeat="x in data">
                <td>{{x.date}}</td>
                <td>{{x.num}}</td>
                <td>{{x.total/100}}元</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>