<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>配送分拨员端</title>
    <link rel="stylesheet" href="__PUBLIC__/static/mobile/css/module/page_init.css"></head>
    <link rel="stylesheet" href="__PUBLIC__/static/mobile/css/residence_advisor.css"></head>
<body>
<div class="page">
    <header class="main-header">
        <div class="headline">
            <div class="headline-body">
                <p>配送分拨员端</p>
            </div>
        </div>
        <div class="go-back">
            <a href="<?php echo U('mobile/index/index');?>"><img src="__PUBLIC__/static/mobile/image/go_back.png" alt=""></a>
        </div>
        <div class="main-memu">
            <div class="memu-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <include file="Public/menu"/>
        </div>
    </header>
    <section class="main-section">
        <article class="message">
            <header class="message-title">
                <a href="#"><p>信息中心</p>
                </a>
            </header>
            <section class="message-body">
                <ul>
                    <li>
                        <p  id="order_undo"></p>
                        <span>本时段待送</span>
                    </li>
                    <li>
                        <p id="order_total"></p>
                        <span>本时段已配送</span>
                    </li>
                    <li>
                        <p id="num_dish_rest">￥0</p>
                        <span>我的收益</span>
                    </li>
                </ul>
            </section>
        </article>
        <article class="order-manage">
            <header class="message-title">
                <a href="#"><p>订单管理</p>
                </a>
            </header>
            <section class="order-body">
                <header class="order-title">
                    <ul>
                        <li>楼号</li>
                        <li>份数</li>
                        <li>操作</li>
                    </ul>
                </header>
                <section>
                    <div id="order_ready"></div>
                    <div id="order_prepare"></div>
                    <div id="order_finished"></div>
                    <article class="order-data">
                </section>
            </section>
        </article>
    </section>
    <footer class="main-footer">
        <p onclick="low()">版权归：必点所有</p>
    </footer>
</div>
<script type="text/javascript" src="__PUBLIC__/static/mobile/js/lib/zepto.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/mobile/js/lib/zepto.touch.js"></script>
<script src="__PUBLIC__/static/mobile/js/module/init.js"></script>

<script>
    $.ajax({
        type:"get",
        url:"http://bd.koudaigongshe.com/mobile/deliver/apiShow",
        dataType:"json",
        success:function(data){
            console.log("success!");

            /* ---- 信息展示 start ---- */
            if ( data['count']['did'] == 0) {
                $("#order_total").html('<p>0份</p>');
            } else{
                $("#order_total").html('<p>' + data['count']['did'] + '份</p>');
            }
            if (data['count']['undo'] == 0) {
                $("#order_undo").html('<p>0份</p>');
            } else{
                $("#order_undo").html('<p>' + data['count']['undo'] + '份</p>');
            }
            /* ---- 信息展示 end ---- */

            var tpls_a = "";
            var tpls_b = "";
            var tpls_c = "";

            /* ---- 已完成订单多重遍历 start ---- */
            $.each(data.finished,function (i,v){
                var bid = v.building_id;
                var aaaa = function(v){
                    var t = '';
                    $.each(v, function(ii,vv){
                        t += '<li><span>' + vv['order_dish_name'] + '</span><span>' + vv['port_name'] + '</span><span>' + vv['order_dish_id']+'</span></li>';
                    });
                    return t;
                };
                var bbbb = function(v){
                    var sp = '';
                    $.each(v,function(k,val){
                        sp += '<li><p>' + val['name'] + '</p><a href="tel:' + val['mobile'] + '">' + val['mobile'] + '</a></li>'             
                    });
                    return sp;
                };
                tpls_a += '<article class="order-data">'+
                            '<header class="order-data-title">'+
                                '<ul>'+
                                    '<li><p>' + v['building_name']+ '</p></li>'+
                                    '<li><p>' + v['count'] + '</p></li><li>'+
                                    '<button class="gw-btn mini-btn btn-bg-white">查看'+
                                    '</button><button class="gw-btn mini-btn btn-disable">已完成</button></a></li>'+
                                '</ul>'+
                            '</header>'+
                            '<div class="detail"><div>'+
                            '<header class="detail-title">'+
                                '<ul>'+
                                    '<li>菜品</li>'+
                                    '<li>档口</li>'+
                                    '<li>小票号</li>'+
                                '</ul>'+
                            '</header>'+
                            '<section class="detail-body">'+
                   '<ul>'+
                            aaaa(v['dish'])+
                            bbbb(v['houser'])+
                    '</ul>'+
                        '</article>';
                // $.each(v['dish'],function(i,val){
                //     var tpls_b = "";
                //     tpls_b += '<li id="'+bid+'"><span>' + val.order_dish_name + '</span><span>' + val.port_name + '</span>'+
                //                     '<span>' + val.order_dish_id + '</span></li>';;
                // });
            });
            /* ---- 派送订单多重遍历 end ---- */

            /* ---- 抢单订单多重遍历 start ---- */
            $.each(data.ready,function (i,v){
                var bid = v.building_id;
                var aaaa = function(v){
                    var t = '';
                    $.each(v, function(ii,vv){
                        t += '<li><span>' + vv['order_dish_name'] + '</span><span>' + vv['port_name'] + '</span><span>' + vv['order_dish_id']+'</span></li>';
                    });
                    return t;
                };
                var bbbb = function(v){
                    var sp = '';
                    $.each(v,function(k,val){
                        sp += '<li><p>' + val['name'] + '</p><a href="tel:' + val['mobile'] + '">' + val['mobile'] + '</a></li>'             
                    });
                    return sp;
                };
                var surer = function(v){
                    var pst = '';
                    $.each(v, function(pt,st){
                        pst = '</button><a href="/mobile/deliver/sendHandle/id/' + st['building_id']+'">';
                    });
                    return pst;
                };
                tpls_b += '<article class="order-data">'+
                            '<header class="order-data-title">'+
                                '<ul>'+
                                    '<li><p>' + v['building_name']+ '</p></li>'+
                                    '<li><p>' + v['count'] + '</p></li><li>'+
                                    '<button class="gw-btn mini-btn btn-bg-white">查看'+
                                    // '</button><a href="">'+
                                    surer(v['dish'])+
                                    '<button class="gw-btn mini-btn">派送</button></a></li>'+
                                '</ul>'+
                            '</header>'+
                            '<div class="detail"><div>'+
                            '<header class="detail-title">'+
                                '<ul>'+
                                    '<li>菜品</li>'+
                                    '<li>档口</li>'+
                                    '<li>小票号</li>'+
                                '</ul>'+
                            '</header>'+
                            '<section class="detail-body">'+
                   '<ul>'+
                            aaaa(v['dish'])+
                            bbbb(v['houser'])+
                    '</ul>'+
                        '</article>';
                // $.each(v['dish'],function(i,val){
                //     var tpls_b = "";
                //     tpls_b += '<li id="'+bid+'"><span>' + val.order_dish_name + '</span><span>' + val.port_name + '</span>'+
                //                     '<span>' + val.order_dish_id + '</span></li>';;
                // });
            });
            /* ---- 派送订单多重遍历 end---- */

            /* ---- 准备订单多重遍历 start ---- */
            $.each(data.prepare,function (i,v){
                var bid = v.building_id;
                var aaaa = function(v){
                    var t = '';
                    $.each(v, function(ii,vv){
                        t += '<li><span>' + vv['order_dish_name'] + '</span><span>' + vv['port_name'] + '</span><span>' + vv['order_dish_id']+'</span></li>';
                    });
                    return t;
                };
                var bbbb = function(v){
                    var sp = '';
                    $.each(v,function(k,val){
                        sp += '<li><p>' + val['name'] + '</p><a href="tel:' + val['mobile'] + '">' + val['mobile'] + '</a></li>'             
                    });
                    return sp;
                };
                tpls_c += '<article class="order-data">'+
                            '<header class="order-data-title">'+
                                '<ul>'+
                                    '<li><p>' + v['building_name']+ '</p></li>'+
                                    '<li><p>' + v['count'] + '</p></li><li>'+
                                    '<button class="gw-btn mini-btn btn-bg-white">查看'+
                                    '</button><a href="">'+
                                    '<button class="gw-btn mini-btn btn-disable">准备中</button></a></li>'+
                                '</ul>'+
                            '</header>'+
                            '<div class="detail"><div>'+
                            '<header class="detail-title">'+
                                '<ul>'+
                                    '<li>菜品</li>'+
                                    '<li>档口</li>'+
                                    '<li>小票号</li>'+
                                '</ul>'+
                            '</header>'+
                            '<section class="detail-body">'+
                   '<ul>'+
                            aaaa(v['dish'])+
                            bbbb(v['houser'])+
                    '</ul>'+
                        '</article>';
                // $.each(v['dish'],function(i,val){
                //     var tpls_b = "";
                //     tpls_b += '<li id="'+bid+'"><span>' + val.order_dish_name + '</span><span>' + val.port_name + '</span>'+
                //                     '<span>' + val.order_dish_id + '</span></li>';;
                // });
            });
            /* ---- 准备订单多重遍历 end ---- */

            /* ---- 模板插入 start ---- */
            $("#order_finished").html(tpls_a);
            $("#order_ready").html(tpls_b);
            $("#order_prepare").html(tpls_c);
            /* ---- 模板插入 end ---- */

            /* ---- toggle按钮事件绑定 start ---- */
            $('.btn-bg-white').tap(function(){
                var target = $(this).closest('.order-data-title').next('.detail');
                var height =  ( target.height() == 0 ) ? target.children('div').height() : 0 ;
                target.height(height);
            });
            /* ---- toggle按钮事件绑定 end ---- */
        },
        error:function(data){
            console.log("error");
        }
    });
    // function low(bid){
    //     var target = $(this).closest('.order-data-title').next('.detail');
    //     var height =  ( target.height() == 0 ) ? target.children('div').height() : 0 ;
    //     target.height(height);
    //     $.ajax({
    //         type:"get",
    //         url:"http://bd.koudaigongshe.com/mobile/deliver/apiShow",
    //         dataType:"json",
    //         success:function (msg){
    //             console.log(bid);
    //             var tpls_b = ""; 
    //             var tpls_c = ""; 
    //             var houser_id = '#houser_'+bid;
    //             var food_id = '#food_'+bid;
    //             $.each(msg['houser'],function (k,val) {
    //                 $.each(val,function (i,value){
    //                     tpls_b += '<li><p>' + value.name + '</p><a href="tel:' + value.mobile + '">' + value.mobile + '</a></li>'
    //                 });
    //                 $(food_id).append(tpls_b);
    //             });
    //             $.each(msg['finished'],function (i,v){
    //                 $.each(v.dish,function (k,val){
    //                     tpls_c +='<li id="'+bid+'"><span>' + val.order_dish_name + '</span><span>' + val.port_name + '</span>'+
    //                                 '<span>' + val.order_dish_id + '</span></li>';
    //                 });
    //                 $(houser_id).append(tpls_c);
    //             });
    //         },
    //         error:function (msg){
    //             console.log("error!");
    //         }
    //     });
    // };
</script>
</body>
</html>